<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Patient</title>
    <style>
        table, th, td {
            border: 3px solid black;
            border-collapse: collapse;
        }
        
        th, td {
            padding: 15px;
        }
        
        th {
            height: 50px;
        }
    </style>
</head>

<body>
    <!-- Library imports, D3 used for data binding -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    
    <!-- Main Header -->
    <h1 align="center">Patient Data</h1>
    <hr>
    
    <!-- Table used to seperate the add patient and view patient data user interfaces-->
    <table id="theTable" width="100%">
        <tr id="tableHeader">
            <td>
                <h1 align="center">Add Patient</h1>
            </td>
            <td>
                <h1 align="center">Patient List</h1>
            </td>
        </tr>
        <tr>
            <td>
                <form name="createForm" onsubmit="true">
                    Patient ID: <input id="textInID" type="text" name="valid">
                    Patient Name: <input id="textInName" type="text" name="valid">
                    <input id="createButton" type="button" value="Create">
                </form>
            </td>
            <td>
                <form name="viewForm" onsubmit="true">
                    Patient ID: <input id="textInView" type="text" name="valid">
                    <input id="viewDataButton" type="button" value="View Data">
                </form>
            </td>
        </tr>
        <tr id="tableRow">
            <td width="50%">
                
            </td>
            <td id="patient" width="50%">
                
            </td>
        </tr>
    </table>

    <!-- Main script to handle creating a new patient and viewing patient data -->
    <script type="text/javascript">
        var socket = io('/admin');
        socket.on('connect', function() {
            socket.emit('request patient list', "");

            socket.on('patient list', usePatientList)
        })


        var patientData = [];
        var names = [];
        var labels = [];
        var patientID = [];
        var hasConnected = 0;

        function usePatientList(patientList) {

            initArrays(patientList);

            if (!hasConnected) {
                hasConnected = 1;
                document.getElementById("viewDataButton").onclick = viewPatientData_PID;
                document.getElementById("createButton").onclick = addPatient;
                drawList();
            }
        }
        
        function drawList(){
            d3.select("body")
                    .select("#theTable")
                    .select("tbody")
                    .select("#tableRow")
                    .select("#patient")
                        .append("div")
                        .attr("id", "patientListView")
                        .attr("class", "patientListViewEmpty");
                        
            redrawList();
        }

        function initArrays(patientList){
            //List of patient IDs.
            for (var i in patientList) {
                patientID.push(i);
            }

            //List of patient dat labels.
            
            //Add a lable for d3 table.
            labels.push("p_ID")
            for (var i in patientList[patientID[0]]) {
                labels.push(i);
            }

            
            var rowOfData = [];

            // Fill Patients
            for (var patient in patientList) {
                var patientDataList = patientList[patient];

                //Reset
                rowOfData = [];
                for (var listElement in patientDataList) {
                    var dataLabels = patientDataList[listElement];

                    rowOfData.push(dataLabels);
                }
                patientData.push(rowOfData);
            }

            //Array of names
            //will be from firebase eventually
            for (var i = 0; i < patientData.length; i++) {
                names.push(patientData[i][0]);
            }
        }

        function redrawList() {
            // Select teh patientLiseView div from the html.
            var patientView = d3.select("body")
                                .select("#theTable")
                                .select("tbody")
                                .select("#tableRow")
                                .select("#patient")
                                .select("#patientListView")
            
            // Clear what is there.
            patientView.html("");

            patientView.append("p")
                        .selectAll("p")
                        .data(names, function(d, i) {
                            return d + i;
                        })
                        .enter()
                            .append("p")
                            .text(function(d, i) {
                                return patientID[i] + ": " + d;
                            })
                            .on("click", function(d, i) {
                                document.getElementById("textInView").value = patientID[i];
                            })
                            .append("div")
                                .html("<hr style=\"border-bottom: 0px\">");
        }

        
        function viewPatientData_PID() {
            input = document.getElementById("textInView").value;
            
            var patientDataRow = [];

            patientDataRow.push(input);
            
            if(input.length >= 4){
                input = input.substring(input.length - 4);
                
                var PID = parseInt(input);
                
                var PID_exists = patientExists();
                
                if(PID_exists){
                    for (var i = 0; i < patientData[PID - 1].length; i++) {
                        patientDataRow.push(patientData[PID - 1][i]);
                    }
                }
            }
            
            console.log(patientDataRow);
            
            var result = "";
            for(var i = 0; i < patientDataRow.length; i++){
                result += (labels[i] + ": " + patientDataRow[i] + "\n");
            }
            
            alert(result);
        }
        
        function addPatient(){
            var name = document.getElementById("textInName").value;
            var id = document.getElementById("textInID").value;
            names.push(name);
            patientID.push(id);
            
            alert("-Created Patient-\nName: " + name + "\nPID: " + id);
            
            redrawList();
        }
        
        function patientExists(pid){
            return true;
        }
        
        function createPatient(){
            var x = document.forms["viewForm"]["valid"].value;
            if (x == null || x == "") {

            }
            alert("Name must be filled out");
            return false;
        }
    </script>
</body>

</html>