<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Patient</title>

    <style>
        /*    body {*/
        /*        background-color: #f9e8d2;*/
        /*        color: black;*/
        /*    }*/
        /*    h1 {*/
        /*        color: #0d0d0d;*/
        /*        font-family: 'Trocchi', serif;*/
        /*        font-size: 45px;*/
        /*        font-weight: normal;*/
        /*        line-height: 48px;*/
        /*        margin: 0;*/
        /*    }*/
        /*    hr {*/
        /*        color: #4d4d4d;*/
        /*        height: 12px;*/
        /*        border: 0;*/
        /*        box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);*/
        /*    }*/
        /*
    </style>
</head>

<body>

    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <h1 align="center">Patient Data</h1>
    <hr>
    <table id="theTable" width="100%">
        <tr>
            <td width="50%">
                <h1 align="center">Add Patient</h1>
            </td>
            <td id="patient" width="50%">
                <h1 align="center">Patient List</h1>
                <div id="patientListView">

                </div>
                <form name="myForm" action="demo_form.asp" onsubmit="return validateForm()">
                    Name: <input type="text" name="valid">
                    <input id="removeButton" type="submit" value="Remove">
                </form>
            </td>
        </tr>
    </table>



    <script type="text/javascript">
        var socket = io('/admin');
        socket.on('connect', function() {
            socket.emit('request patient list', "");

            socket.on('patient list', usePatientList)
        })


        function usePatientList(patientList) {



            //List of patient IDs.
            var patientID = [];

            for (var i in patientList) {
                patientID.push(i);
            }

            //List of patient dat labels.
            var label = [];
            //Add a lable for d3 table.
            label.push("p_ID")
            for (var i in patientList[patientID[0]]) {
                label.push(i);
            }



            var patientData = [];
            var rowOfData = [];

            // Fill Patients
            for (var patient in patientList) {
                var patientDataList = patientList[patient];

                //Reset
                rowOfData = [];
                for (var listElement in patientDataList) {
                    var dataLabels = patientDataList[listElement];

                    rowOfData.push(dataLabels);
                }
                patientData.push(rowOfData);
            }

            console.log(patientData);

            var names = [];
            for (var i = 0; i < patientData.length; i++) {
                names.push(patientData[i][0]);
            }

            var patlistview = d3.select("body")
                                .select("#theTable")
                                .select("tr")
                                .select("#patient")
                                .select("#patientListView");

            patlistview.data(names)
                        .enter()
                        .append("p")
                        .text(function(d, i) {
                                return d
                            });


            function validateForm() {
                var x = document.forms["myForm"]["valid"].value;
                if (x == null || x == "") {
                    alert("Name must be filled out");
                    return false;
                }

                return true;
            }
        }
    </script>
</body>

</html>