<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Add Patient</title>
</head>

<body>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <h1 align="center">Add Patient</h1>
    <hr>
    Patient Name: <input id="textInName" type="text" name="valid"><br>
    Patient ID: <input id="textInID" type="text" name="valid"><br>
    City: <input id="textCity" type="text" name="valid"><br>
    State: <input id="textState" type="text" name="valid"><br>
    Street: <input id="textStreet" type="text" name="valid"><br>
    Zip: <input id="textZip" type="text" name="valid"><br>
    Date of Birth: <input id="textDOB" type="text" name="valid"><br>
    Gender: <input id="textGender" type="text" name="valid"><br>
    Height: <input id="textHeight" type="text" name="valid"><br>
    Weight: <input id="textWeight" type="text" name="valid"><br>
    Insurance: <input id="textInsurance" type="text" name="valid"><br>
    Insurance Location: <input id="textInsLocation" type="text" name="valid"><br>
    Insurance Provider: <input id="textInsProvider" type="text" name="valid"><br>
    <input id="createButton" type="button" value="Create">
    
    <script type="text/javascript">
        
        var hasConnected = 0;
        var socket = io('/admin');
        socket.on('connect', function() {
            // socket.emit('request patient list', "");

            // socket.once('patient list', usePatientList)
            if (!hasConnected) {
                hasConnected = 1;
                document.getElementById("createButton").onclick = addPatient;
            }
        })
        
        function addPatient(){
            //Firebase
            //FB.createPatient(m.pid, m.city, m.state, m.street, m.zip, m.name, m.dob, m.gender, m.height, m.weight, m.insurance, m.location, m.provider);
            var m ={};
            m.pid = document.getElementById("textInID").value;
            m.city = document.getElementById("textCity").value;
            m.state = document.getElementById("textState").value;
            m.street = document.getElementById("textStreet").value;
            m.zip = document.getElementById("textZip").value;
            m.name = document.getElementById("textInName").value;
            m.dob = document.getElementById("textDOB").value;
            m.gender = document.getElementById("textGender").value;
            m.height = document.getElementById("textHeight").value;
            m.weight = document.getElementById("textWeight").value;
            m.insurance = document.getElementById("textInsurance").value;
            m.location = document.getElementById("textInsLocation").value;
            m.provider = document.getElementById("textInsProvider").value;
            
            //Add patient with server FB call
            socket.emit('add patient', m);
            
            //UI
            // names.push(name);
            // patientID.push(id);
            
            alert("-Created Patient-\nName: " + m.name + "\nPID: " + m.pid);
        }
    </script>
</body>

    
</html>
    