.boxed {
    background-color: lightblue;
    border-color: black;
    border-style: solid;
}

body {
    background-color: LightSkyBlue;
}

#lbreak {
    border-style: solid;
    border-color: black;
}

.patient {
    border-style: solid;
    border-color: black;
    position: relative;
    left: 20px;
    background-color: lightblue;
    width: 200px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.close {
    float: right;
}